
/*background image for all my three pages*/
body {
     background-image: url("https://cdn.pixabay.com/photo/2020/10/05/18/12/fog-5630335_1280.jpg");
     height: 100%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
    }
/*navbar font.. I am a font style. I make all the pages have the cursive curly writing*/
.navbar-brand, .nav-item, p, h5, h1, ::placeholder, .form-group, .form-row {
        font-family: 'Pacifico', cursive;    
        font-size: 24px;
    }

/*I really needed the h4 tag to match but be in a bigger size*/
h4 {
        font-family: 'Pacifico', cursive; 
        font-size: 30px;

    }

/*padded space after the navbar*/     
.media, .container {
    padding-top: 80px;
          }
/* gave the footer in all pages a center alignment*/         
.footer {
    text-align: center;
    color: whitesmoke;
}